@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-primaria:rgba(137, 43, 226, 0.233);
    --cor-secundaria:rgb(63, 14, 109);
    --cor-terciaria: #ae1dc4d1;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif
}

*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

h1{
    font-weight: bold;
}

.apresentacao{
    padding: 2% 10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 10;
}

.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.texto-destaque {
    color:var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 12px;
    font-size: 1.25rem;
    padding: 20px 0;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-primaria);
}


.apresentacao__imagem{
    width: 50%;
}

.rodape{
    padding: 5px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.cabecalho{
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    height: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

@media(max-width:1000px){

    .cabecalho{
        padding: 6%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}